html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100vw;
    overflow-y: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    margin: 7%;
}

.header {
    display: flex;
    width: 394px;
    justify-content: space-between;
    align-items: center;
    background-color: #bbb;
    color: white;
    border-radius: 5px;
    margin-bottom: -10px;
    padding: 0 6px 10px 6px;
}

.undo, .reload {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    padding: 3px;
    background-color: #bbb;
    border-radius: 5px;
}

.grid div {
    width: 94px;
    height: 64px;
    margin: 3px;
    background-color: rgb(255, 252, 205);
    font-size: 1.5rem;
    text-align: center;
    padding-top: 30px;
    border-radius: 5px;
}

.grid .zero {
    background-color: #eee;
}

.grid .two {
    background-color: rgb(255, 253, 221);
}

.grid .four {
    background-color: rgb(255, 237, 213);
}

.grid .eight {
    background-color: rgb(255, 230, 210);
}

.grid .sixteen {
    background-color: rgb(255, 221, 211);
}

.grid .thirtytwo {
    background-color: rgb(255, 211, 211);
}

.grid .sixfour {
    background-color: rgb(255, 211, 229);
}

.grid .ontwoei {
    background-color: rgb(253, 214, 251);
}

.grid .twfisi {
    background-color: rgb(233, 210, 255);
}

.grid .fionetwo {
    background-color: rgb(221, 217, 255);
}

.grid .oneotwfo {
    background-color: rgb(211, 226, 255);
}

.grid .win {
    background-color: rgb(189, 255, 205);
}

#result {
    color: rgb(179, 15, 15);
    font-weight: 800;
}

@media (max-width: 450px) {
    .header {
        width: 342px;
    }

    .grid {
        width: 348px;
        height: 348px;
        padding: 3px;
    }

    .grid div {
        width: 81px;
        height: 51px;
        margin: 3px;
    }
}

@media (max-width: 400px) {
    .header {
        width: 318px;
    }

    .grid {
        width: 324px;
        height: 324px;
        padding: 3px;
    }

    .grid div {
        width: 75px;
        height: 50px;
        margin: 3px;
        padding-top: 25px;
    }
}